* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.flex {
  display: flex;
  flex-wrap: wrap; }

h1,
h2,
span {
  font-family: "Proza Libre", sans-serif; }

h2 {
  font-size: 2em;
  line-height: 100px;
  height: 100px;
  text-align: center;
  width: 100%; }
  @media (min-width: 1248px) {
    h2 {
      font-size: 3em;
      height: 200px;
      line-height: 200px; } }

body {
  background-color: #040f16;
  font-family: "Open Sans", sans-serif; }

#home,
#about,
#projects,
#contact {
  width: 100%; }

.wrapper {
  height: 100%;
  max-width: 1200px; }

nav {
  height: 60px;
  align-items: center;
  margin: 0 auto;
  max-width: 1240px;
  background: #040f16; }
  nav ul {
    list-style-type: none;
    width: 100%;
    max-width: 400px;
    justify-content: space-between; }
    nav ul li {
      display: inline;
      padding: 15px; }
      nav ul li a {
        text-decoration: none;
        color: #e7ecef;
        font-family: "Proza Libre", sans-serif; }

#home {
  color: #e7ecef;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  position: relative;
  height: 100vh; }
  #home:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #040f16;
    opacity: 0.95; }
  #home h1 {
    text-align: center;
    font-size: 2em;
    z-index: 1; }
  #home .btn {
    color: #d90368;
    font-size: 1em;
    font-weight: 800;
    border: 2px solid #d90368;
    border-radius: 2px;
    height: 40px;
    width: 160px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    z-index: 1; }
    #home .btn i {
      padding-left: 10px; }

#about {
  background: #e7ecef; }

#projects {
  background: #dadee1;
  height: auto; }
  #projects .wrapper {
    max-width: 1200px;
    margin: 0 auto; }
    #projects .wrapper .grid {
      margin-bottom: 40px; }
      @media (min-width: 600px) {
        #projects .wrapper .grid {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; } }
      #projects .wrapper .grid .project-card {
        padding: 0 25px;
        margin-bottom: 50px; }
        #projects .wrapper .grid .project-card img {
          display: block;
          max-width: 100%; }
        @media (min-width: 600px) {
          #projects .wrapper .grid .project-card {
            width: 50%; } }
        @media (min-width: 1248px) {
          #projects .wrapper .grid .project-card {
            width: calc(100%/3); } }
        #projects .wrapper .grid .project-card .project-title {
          display: block;
          width: 100%;
          color: #e7ecef;
          background: #040f16;
          height: 35px;
          line-height: 35px;
          padding-left: 10px; }

#contact {
  color: #e7ecef;
  justify-content: center;
  height: auto; }
  #contact .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    min-width: 320px;
    padding: 10px;
    font-size: 1em;
    min-height: calc(100vh - 120px); }
    #contact .wrapper input,
    #contact .wrapper textarea {
      min-width: 300px;
      height: 35px;
      padding: 5px;
      margin: 2px;
      background: #e7ecef;
      border: none;
      border-radius: 2px; }
      #contact .wrapper input::placeholder,
      #contact .wrapper textarea::placeholder {
        font-size: 1em;
        font-family: "Open Sans", sans-serif; }
    #contact .wrapper textarea {
      height: 120px;
      resize: none; }
    #contact .wrapper .btn {
      color: #d90368;
      font-size: 1em;
      font-weight: 800;
      border: 2px solid #d90368;
      border-radius: 2px;
      height: 40px;
      line-height: 35px;
      width: 130px;
      text-align: center;
      margin-top: 2px;
      align-self: flex-end; }
