//VARIABLES

$colors: (primary: #040f16,
secondary: #e7ecef,
secondary-dark: #dadee1,
accent: #d90368);

$font-heading: "Proza Libre",
sans-serif;
$font-body: "Open Sans",
sans-serif;
$background: url("../images/bg1.jpg");

// MIXINS
@mixin desktop {
  @media (min-width: 1248px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 750px) {
    @content;
  }
}

// FUNCTIONS
@function color($color-name) {
  @return map-get($colors, $color-name);
}

// GENERAL, RESETS, ETC
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
span {
  font-family: $font-heading;
}

h2 {
  font-size: 2em;
  line-height: 100px;
  height: 100px;
  text-align: center;
  width: 100%;

  @include tablet {
    font-size: 2.5em;
    height: 150px;
    line-height: 150px;
  }

  @include desktop {
    font-size: 3em;
    height: 200px;
    line-height: 200px;
  }
}

body {
  background-color: color(primary);
  font-family: $font-body;
}

.btn,
.btn-send {
  color: color(accent);
  font-size: 1em;
  font-weight: 800;
  border: 2px solid color(accent);
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}

#home,
#about,
#projects,
#contact {
  // min-height: 100vh;
  width: 100%;
  padding-top: 30px;
}

.wrapper {
  height: 100%;
  max-width: 1200px;
}

// NAV BAR
nav {
  height: 60px;
  align-items: center;
  margin: 0 auto;
  max-width: 1240px;
  background: color(primary);

  ul {
    list-style-type: none;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;

    li {
      display: inline;
      padding: 15px;
      color: color(secondary);
      font-family: $font-heading;

      &:hover {
        cursor: pointer;
        color: color(accent);
        transition: all 0.3s;
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: color(primary);
}

.sticky+#about {
  margin-top: 60px;
}

// HOME SECTION
#home {
  color: color(secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: $background;
  background-size: cover;
  position: relative;
  height: 100vh;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: color(primary);
    opacity: 0.95;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    z-index: 1;

    @include desktop {
      font-size: 2em;
    }
  }

  .btn {
    height: 40px;
    width: 160px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    z-index: 1;

    i {
      padding-left: 10px;
    }
  }
}

// ABOUT SECTION
#about {
  background: color(secondary);

  h2 {
    @include tablet {
      height: 120px;
    }

    @include desktop {
      height: 170px;
    }
  }

  .wrapper {
    max-width: 1250px;
    margin: 0 auto;

    .bio {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      @include tablet {
        width: 50%;
      }

      @include desktop {
        width: 40%;
      }

      img {
        max-width: 80%;
        border-radius: 100%;
      }

      span {
        margin: 25px 0 20px 0;
        font-weight: 800;
        font-size: 1.2em;
      }

      .caption {
        text-align: center;
        padding: 0 25px;
        margin-bottom: 50px;
      }
    }

    .skills {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;

      @include tablet {
        width: 50%;
      }

      @include desktop {
        width: 60%;
        padding: 0 25px;
      }

      div {
        padding: 0;
        width: 50%;

        @include desktop {
          width: calc(100% / 3);
          height: calc(100% / 3);
        }
      }
    }
  }
}

// PROJECTS SECTION
#projects {
  background: color(secondary-dark);
  height: auto;

  .wrapper {
    max-width: 1250px;
    margin: 0 auto;

    .grid {
      @include tablet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .project-card {
        padding: 0 25px;
        margin-bottom: 50px;

        span {
          border-radius: 3px 3px 0 0;
        }

        img {
          display: block;
          max-width: 100%;
          border-radius: 0 0 3px 3px;
        }

        @include tablet {
          width: 50%;
        }

        @include desktop {
          width: calc(100% / 3);
        }

        .project-title {
          display: block;
          width: 100%;
          color: color(secondary);
          background: color(primary);
          height: 35px;
          line-height: 35px;
          padding-left: 10px;
        }
      }
    }
  }
}

// CONTACT SECTION
#contact {
  color: color(secondary);
  justify-content: center;
  height: auto;

  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    min-width: 320px;
    padding: 10px 25px;
    font-size: 1em;
    min-height: calc(100vh - 120px);

    input,
    textarea {
      min-width: 300px;
      height: 35px;
      padding: 5px;
      margin: 2px;
      background: color(secondary);
      border: none;
      border-radius: 3px;

      &::placeholder {
        font-size: 1em;
        font-family: $font-body;
      }
    }

    textarea {
      height: 120px;
      resize: none;
    }

    .btn-send {
      height: 40px;
      line-height: 35px;
      width: 130px;
      text-align: center;
      margin-top: 2px;
      align-self: flex-end;
    }
  }
}

// FOOTER