//VARIABLES

$colors: (primary: #040f16,
secondary: #e7ecef,
secondary-dark: #dadee1,
accent: #d90368);

$font-heading: 'Proza Libre',
sans-serif;
$font-body: 'Open Sans',
sans-serif;

$background: url("../images/bg1.jpg");

// MIXINS

@mixin desktop {
  @media(min-width: 1248px) {
    @content
  }
}

// FUNCTIONS

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// GENERAL, RESETS, ETC

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2 {
  font-family: $font-heading;

}

body {
  background-color: color(primary);
  font-family: $font-body;
}

#home,
#about,
#projects,
#contact {
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  height: 100%;
  max-width: 1200px;
  margin: 0 1em 0 1em;
}

// NAV BAR

nav {
  height: 60px;
  align-items: center;
  margin: 0 auto;
  max-width: 1240px;
  background: color(primary);

  ul {
    list-style-type: none;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;

    li {
      display: inline;
      padding: 15px;

      a {
        text-decoration: none;
        color: color(secondary);
        // font-weight: 600;
        font-family: $font-heading;
      }
    }
  }
}


// HOME SECTION

#home {
  color: color(secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: $background;
  background-size: cover;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: color(primary);
    opacity: 0.95;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    z-index: 1;
  }

  .btn {
    color: color(accent);
    font-size: 1em;
    font-weight: 800;
    border: 2px solid color(accent);
    border-radius: 2px;
    height: 40px;
    width: 160px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    z-index: 1;

    i {
      padding-left: 10px;
    }
  }
}

// ABOUT SECTION

#about {
  background: color(secondary);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    font-size: 2em;
    line-height: 200px;
    height: 200px;
    text-align: center;
    width: 100%;

    @include desktop {
      font-size: 3em;
    }
  }

  .wrapper {
    width: 100%;
    min-height: calc(100vh - 120px);
    height: auto;

    .bio {
      min-width: 350px;
      width: 100%;
      flex-direction: column;

      @include desktop {
        max-width: 400px;
      }

      .bio-pic {
        height: 250px;
        width: 250px;
        border-radius: 100%;
        border: solid 1px black;
        align-self: center;
      }

      .bio-caption {
        text-align: center;
        max-width: 500px;
        margin-bottom: 30px;
        align-self: center;

        span {
          font-family: $font-heading;
          font-weight: 800;
          font-size: 1.2em;
          line-height: 60px;
        }
      }
    }

    .skills {
      width: 100%;
      min-height: 400px;
      max-height: 600px;
      height: auto;


      @include desktop {
        padding-left: 100px;
        max-width: 800px;
      }

      .graph {
        height: 30px;
        width: 100%;
        flex-wrap: nowrap;

        .graph-title {
          width: 100px;
          text-align: center;
          background: grey;
        }

        .graph-filled {
          width: 85%;
          background: green;
        }

        .graph-empty {
          text-align: center;
          width: 15%;
          background: red;
        }
      }
    }
  }
}